// Special shortcodes (elements) stylings

// Price (Pricing Table item) element

	#wpb_visual_composer {

		.wpb_content_element {

			&.wm-shortcode-vc-price {
				margin-bottom: 2px;

				> .wpb_element_wrapper {
					@extend %ui_sortable_heading;
				}

				.vc_element-icon {
					display: none;
				}

			}

		}

	}

// Accordion and tabs element

	.wm-sections-mode-title {
		overflow: hidden;
	}

	// Accordion "add new section" button

		.wm-sections-mode,
		.wpb_vc_accordion {

			> .wpb_element_wrapper {

				.tab_controls {

					.add_tab {

						&,
						&:focus {
							width: 100%;
							height: 40px;
							padding: 0 !important;
							line-height: 40px;
							font-size: 11px;
							font-weight: bold;
							text-transform: uppercase;
							background: #eee;
							color: #666;
							border: 1px solid #ddd;
							outline: 0;
							cursor: pointer;
						}

						&:hover {
							background: #f5f5f5;
						}

					}

				}

			}

		}

	// Accordion new section styling

		.wpb_element_wrapper {

			.wpb_content_element & {

				.wpb_accordion_holder {
					margin: 10px 0;
				}

			}

			#poststuff & {

				h3.ui-accordion-header {
					@extend %ui_sortable_heading;

					&::before {
						content: '+';
						margin: 0 10px;
						font-size: 16px;
						font-weight: bold;
						text-shadow: none;
					}

					&.ui-state-active {
						background: #eee;
						border-bottom: 1px solid #ddd !important;

						&::before {
							content: '−';
							color: inherit;
						}

					}

				}

			}

			.wm-sections-mode > &,
			.wpb_vc_accordion > & {

				h3.ui-accordion-header {

					span.ui-icon {
						display: none;
					}

				}

			}

			.vc_container_for_children {

				.group {
					margin-bottom: 2px;
				}

				.wpb_vc_accordion_tab {
					border: 1px solid #ddd;
					border-top: 0;
				}

			}

		}

// jQuery UI Sortable placeholder

	.wpb_element_wrapper .vc_container_for_children .group.ui-sortable-placeholder,
	.wm-shortcode-vc-price.ui-sortable-placeholder {
		visibility: visible !important;
		border: 2px dashed #ddd;
	}

	%ui_sortable_heading {
		padding: .62em;
		margin: 0;
		border: 1px solid #ddd;
	}
