// Range field (numeric slider)
//
// @since    1.2.2
// @version  1.2.3

.wm-meta-wrap {

	.fieldtype-range {
		display: inline-block;
		position: relative;
		width: 196px;
		padding: 0 1em;
		vertical-align: middle;
	}

	// jQuery UI Slider

		.range-wrap {

			.ui-slider {
				position: relative;
				display: block;
				width: 100%;
				height: 2px;
				margin: 10px 0;
				text-align: left;
				background: #fff;
				border: 2px solid #bbb;
				border-radius: 10px;
			}

			.ui-slider-handle {
				position: absolute;
				z-index: 2;
				min-width: 18px;
				min-height: 10px;
				top: 0;
				padding: .19em .62em;
				text-align: center;
				font-size: .81em;
				font-weight: 700;
				background-color: #28b;
				color: #fff;
				border: 2px solid #069;
				outline: 0;
				border-radius: 100px;
				cursor: e-resize;
				box-shadow: inset 0 2px 0 rgba(255, 255, 255, .2);
				transform: translateX(-50%) translateY(-50%);
				transform-origin: 50% 50%;
			}

		}

}
