/**
 * WebMan custom radio input field styles
 *
 * Used in page builders.
 *
 * @package     WebMan Amplifier
 * @subpackage  Shortcodes
 *
 * @since    1.2.2
 * @version  1.2.2
 */





.wm-radio-block {
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	overflow: hidden;

	.filter {
		float: left;
		width: 25%;
		min-width: 10em;
		padding: 0;
		margin: 0;

		.rtl & {
			float: right;
		}

		input {
			box-sizing: border-box;
			width: 100% !important;
			padding: .62em !important;
			line-height: 1.62 !important;
			vertical-align: top;
		}

	}

	.radio-items {
		max-height: 12em;
		padding: 1em;
		overflow-y: auto;
	}

	.hide {
		display: none;
	}

	input[type="radio"] {
		position: relative;
		width: 16px;
		height: 16px;
		padding: 0;
		margin: 0;
		vertical-align: middle;
		background: #fff;
		color: #666;
		border: 1px solid #ccc;
		cursor: pointer;
	}

	label {
		display: inline-block;
		position: relative;
		margin-right: 1em;
	}

	// Custom radio label

		&.custom-label {
			padding: 1em;

			.inline-radio {
				position: relative;
				display: inline-block;
				padding: .5em;
				margin: 0 .5em .5em 0;
				text-align: center;
				background: #fff;
				border: 1px solid #e6e6e6;
				border-radius: 3px;

				.rtl & {
					margin: 0 0 .5em .5em;
				}

				&:hover,
				&.active {
					z-index: 1;
					box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
					transform: scale( 1.5 );
				}

				&:hover {
					z-index: 2;
				}

				&.active {
					background: #d9edf7;
					border-color: #b7cbd0;
				}

			}

			label {
				display: block;
				padding: 0;
				margin: 0;
			}

		}

}
