/**
 * WebMan Visual Composer plugin admin styles
 *
 * RTL languages support
 * Since version 1.0.9.5 the Visual Composer 4.3+ compatibility was added.
 *
 * @package     WebMan Amplifier
 * @subpackage  Shortcodes
 *
 * @since    1.2.2
 * @version  1.2.2
 */





// Imports

	@import "vc-addons/rtl/base";

	@import "vc-addons/rtl/navigation-bar";

	@import "vc-addons/rtl/row";

	@import "vc-addons/rtl/column";

	@import "vc-addons/rtl/elements";

	@import "vc-addons/rtl/modals";

	@import "vc-addons/rtl/shortcodes";
