/**
 * WebMan Visual Composer 4.3+ plugin admin styles
 *
 * Requires Visual Composer v4.3+
 *
 * @package     WebMan Amplifier
 * @subpackage  Shortcodes
 *
 * @since    1.2.2
 * @version  1.2.2
 */





// Imports

	@import "vc-addons/base";

	@import "vc-addons/navigation-bar";

	@import "vc-addons/row";

	@import "vc-addons/column";

	@import "vc-addons/elements";

	@import "vc-addons/modals";

	@import "vc-addons/shortcodes";

	@import "vc-addons/shortcodes-generator";
