// LTR

	#wpb_visual_composer .inside,
	.wpb_bootstrap_modals,
	.vc_modal,
	.vc_panel {
		direction: ltr;
	}

// Metabox inside wrapper

	#wpb_visual_composer {

		.inside {
			margin-top: 0;
		}

		// VC content (displays elements)

			#visual_composer_content {
				min-height: 40px;
				padding: 20px 20px 0;
			}

	}

// Default content (empty)

	#vc_no-content-helper {
		display: none;
	}
