// Modal settings windows

// Animation

	@keyframes wm-modal-animation {

		0%   {
			transform: scale( .75 );
			opacity: 0;
		}

		100% {
			transform: scale( 1 );
			opacity: 1;
		}

	}

// Base

	%vc_modal_header {
		line-height: 26px;
		background: #efefef;
		border-bottom: 1px solid #ddd;
		border-radius: 3px 3px 0 0;
		box-shadow: inset 0 -1px 0 #fff;

		h3 {
			font-size: 18px;
			font-weight: 300;
			text-transform: uppercase;
			color: #999;
		}

		.vc_close {
			padding: 1px 2px 1px 3px;
			margin: 3px 0 0;
			background: #f99;
			border-radius: 50%;
		}

	}

	%vc_modal_body {
		position: relative;
		min-height: 80px;
		padding: 10px 0;
		margin-top: 0 !important;

		&.vc_with-tabs {
			padding-top: 60px;
		}

	}

	%vc_modal_footer {
		background: #efefef;
	}

	.vc_modal.in {

		.vc_modal-header {
			@extend %vc_modal_header;
		}

		.vc_modal-body {
			@extend %vc_modal_body;
		}

		.vc_modal-footer {
			@extend %vc_modal_footer;
		}

		.vc_modal-dialog {
			animation: wm-modal-animation .4s 1 cubic-bezier( .175, .885, .32, 1.25 );
		}

	}

	.vc_panel {
		animation: wm-modal-animation .4s 1 cubic-bezier( .175, .885, .32, 1.25 );

		.vc_panel-heading {
			@extend %vc_modal_header;
		}

		.vc_panel-body {
			@extend %vc_modal_body;
		}

		.vc_panel-footer {
			@extend %vc_modal_footer;
		}

		.vc_row {
			padding: 0;
			margin: 0;
		}

	}

	.vc_modal.in .vc_modal-dialog,
	#vc_properties-panel,
	#vc_templates-editor,
	#vc_post-settings-panel {
		border-radius: 3px;
		box-shadow: 0 0 100px rgba(0, 0, 0, .5);
	}

	#vc_properties-panel {
		width: 720px;
	}

// Element settings fields

	.vc_panel {

		.wpb_edit_form_elements {

			.vc_row-fluid {
				padding: 15px;
				margin: 0;
				border: 0;
				border-top: 1px dashed #e1e1e1;
				box-sizing: border-box;

				&:first-child {
					border: 0;
				}

				&:hover {
					background: #f9f9f9;
				}

			}

		}

		.mceLayout {
			background: #fff;
		}

		&-tabs {

			.vc_edit-form-tab {
				padding-top: 10px;
			}

		}

		.vc_panel-tabs {
			padding: 0;
			margin: -10px 0 0;

			> ul {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				padding: 0 9px;
				margin: 0;
				background: #1e8cbe;
				box-sizing: border-box;

				a {
					color: #fff;
				}

				.ui-state-active {

					a {
						color: #444;
					}

				}

			}

			> .vc_edit-form-tabs-menu {

				.vc_edit-form-tab-control {

					.vc_edit-form-link {
						color: #fff;
					}

					&.vc_active {

						a {
							color: #444;
						}

					}

				}

			}

			> .vc_panel-tabs-menu {

				.vc_panel-tabs-control {

					.vc_panel-tabs-link {
						color: #fff;
					}

					&.vc_active {

						a {
							color: #444;
						}

					}

				}

			}

		}

	}

// Templates modal

	.vc_templates-body {

		.ui-tabs-panel {
			padding: 15px 0;
		}

	}

// Elements list

	.wpb-elements-list-modal {

		&.in {

			.vc_modal-body {
				padding: 20px;
			}

			.wpb-layout-element-button {
				text-transform: uppercase;
				background: #444;
				color: #fff;
				border-color: #333;
				border-radius: 3px;
				box-shadow: inset 0 0 15px rgba(0, 0, 0, .8);

				&:hover {
					background: #111;
				}

				a {
					padding: 10px;
					font-size: 10px;
					text-align: center;
					color: #ddd;

					&:hover {
						color: #fff;
					}

					.vc_element-icon,
					.vc_element-description {
						display: none;
					}

				}

			}

		}

	}
