// Display Short Shortcode Generator only

	.mce-container div[id^="wm_shortcodes_list_short_id"],
	.wpb-edit-form .mce-container div[id^="wm_shortcodes_list_id"] {
		display: none;
	}

	.wpb-edit-form .mce-container div[id^="wm_shortcodes_list_short_id"] {
		display: block;
	}
