/**
 * WebMan Amplifier admin addon styles
 *
 * @package  WebMan Amplifier
 *
 * @since    1.2.2
 * @version  1.3.19
 */





// General

	.hide {
		display: none !important;
	}



// Posts table

	.fixed {

		.wm-image-container {
			display: inline-block;
			position: relative;
			width: 68px;
			padding: 2px;
			margin: -3px 0 0;
			line-height: 1.38;
			background: #fff;
			border: 1px solid #d3d3d3;
			border-radius: 3px;

			&.no-thumb {
				height: 40px;
				background: #f3f3f3;
				box-shadow: inset 0 1px 5px 0 rgba( #000, .1 );
			}

			a {
				display: block;
				outline: 0;
			}

			img {
				width: 100%;
				height: auto;
				vertical-align: top;
			}

			i,
			span {
				font-size: 30px;
				vertical-align: middle;
			}

		}

	}

	@media screen and (min-width: 782px) {

		.fixed {

			[class*="column-wmamp-thumb"] {
				width: 100px;
				text-align: center;
			}

		}

	}



// WordPress menu tweaks

	.sticky-menu {

		#adminmenuwrap {
			z-index: 999; // Hide it beneath the Visual Composer overlay
		}

	}
