/**
 * WebMan Metabox Generator styles
 *
 * @package     WebMan Amplifier
 * @subpackage  Metabox
 *
 * @since    1.2.2
 * @version  1.6.0
 */

$left: left;
$right: right;
$language_direction: ltr;

@import 'metabox/metabox';
