/**
 * WebMan Shortcodes Generator styles
 *
 * @package     WebMan Amplifier
 * @subpackage  Shortcodes
 *
 * @since    1.2.2
 * @version  1.4
 */





// RTL support

	$language_direction: ltr !default;

	@if rtl == $language_direction {
		$left: right;
		$right: left;
	} @else {
		$left: left;
		$right: right;
	}





// TinyMCE "Shortcodes" dropdown button

	#wm_shortcodes_list-open,
	#wm_shortcodes_list_short-open {

		span {
			font-weight: bold;
		}

	}

// Button dropdown icons

	div[id*="_wm_shortcodes_list_menu_co"],
	div[id*="_wm_shortcodes_list_short_menu_co"] {

		.mceIcon {
			width: 0 !important;
		}

		.mceText {
			padding: 0 20px !important;
			padding-#{$left}: 10px !important; // {{RTL}}
			text-align: $left !important; // {{RTL}}
		}

	}

// Button dropdown size

	div[id*="_wm_shortcodes_list_menu_co"] {
		max-height: 200px;
		overflow-y: scroll;
	}

	@if rtl == $language_direction { // {{RTL}}

		div[id*="_wm_shortcodes_list_menu"] {
			margin-left: -164px;
		}

		div[id*="_wm_shortcodes_list_short_menu"] {
			margin-left: -95px;
		}

	}
