/**
 * WebMan Amplifier admin addon styles
 *
 * @package  WebMan Amplifier
 *
 * @since    1.0
 * @version  1.0.9.10
 */



/**
 * General
 */

	.hide {display: none !important}



/**
 * Posts table
 */

	.fixed [class*="column-wmamp-thumb"] {
		width: 80px;
		text-align: center;
	}
		.fixed .wm-image-container {
			display: block;
			position: relative;
			width: 50px;
			height: 50px;
			padding: 2px;
			margin: -3px auto 0;
			line-height: 48px;
			background: #fff;
			border: 1px solid #d3d3d3;
			-webkit-border-radius: 3px;
			   -moz-border-radius: 3px;
			        border-radius: 3px;
		}
			.fixed .wm-image-container.no-thumb {
				background: #f3f3f3;
				-webkit-box-shadow: inset 0 1px 5px 0 rgba(0,0,0, .1);
				   -moz-box-shadow: inset 0 1px 5px 0 rgba(0,0,0, .1);
				        box-shadow: inset 0 1px 5px 0 rgba(0,0,0, .1);
			}
				.fixed .wm-image-container a {
					display: block;
					outline: 0;
				}
				.fixed .wm-image-container img {
					height: auto;
					max-width: 100%;
					max-height: 100%;
					vertical-align: baseline;
				}
				.fixed .wm-image-container i {
					font-size: 30px;
					vertical-align: middle;
				}



/**
 * Custom posts
 */

	.icon32-posts-wm_logos {background: transparent url(../img/custom-posts/logos-32x32.png) no-repeat 50% !important}
	.icon32-posts-wm_modules {background: transparent url(../img/custom-posts/modules-32x32.png) no-repeat 50% !important}
	.icon32-posts-wm_projects {background: transparent url(../img/custom-posts/projects-32x32.png) no-repeat 50% !important}
	.icon32-posts-wm_staff {background: transparent url(../img/custom-posts/staff-32x32.png) no-repeat 50% !important}
	.icon32-posts-wm_testimonials {background: transparent url(../img/custom-posts/testimonials-32x32.png) no-repeat 50% !important}



/* END OF FILE */