/**
 * WebMan Shortcodes Generator styles
 *
 * @package     WebMan Amplifier
 * @subpackage  Shortcodes
 *
 * @since     1.0
 * @verstion  1.1
 */



/**
 * TinyMCE "Shortcodes" dropdown button
 */

	#wm_shortcodes_list-open span,
	#wm_shortcodes_list_short-open span { font-weight: bold; }



	/**
	 * Button dropdown icons
	 */

		div[id*="_wm_shortcodes_list_menu_co"] .mceIcon,
		div[id*="_wm_shortcodes_list_short_menu_co"] .mceIcon { width: 0 !important; }
		div[id*="_wm_shortcodes_list_menu_co"] .mceText,
		div[id*="_wm_shortcodes_list_short_menu_co"] .mceText { padding: 0 20px 0 10px !important; }



	/**
	 * Button dropdown size
	 */

		div[id*="_wm_shortcodes_list_menu_co"] {
			max-height: 200px;
			overflow-y: scroll;
		}



/**
 * TinyMCE "Styles" dropdown button
 */

	div.mceMenu.mceListBoxMenu {width: 200px !important}
		div.mceMenu.mceListBoxMenu table {width: 100% !important}
		.wp_themeSkin .mceMenu td.mceMenuItemTitle a {
			border-bottom: 0 !important;
			border-top: 1px solid #aaa !important;
			background: #ccc;
		}
			.wp_themeSkin .mceMenu td.mceMenuItemTitle a:hover { background: #ccc; }
			.wp_themeSkin .mceMenu td.mceMenuItemTitle a .mceText {
				padding-left: 10px !important;
				padding-right: 10px !important;
				text-transform: uppercase !important;
				color: #444 !important;
			}

	a[id*="_styleselect_text"] { width: 40px !important; }
	#menu_content_content_styleselect_menu td span.inline-help {
		position: absolute;
		width: 100% !important;
		height: 100% !important;
		left: 0;
		top: 0;
		padding: 0 !important;
		background: url(../images/shortcodes/ico-help-inline.png) no-repeat 180px 50% !important;
	}

	#menu_content_content_styleselect_menu td span {
		text-decoration: none !important;
		text-transform: none !important;
		font-family: Arial, Helvetica, sans-serif !important;
		font-weight: normal !important;
		font-size: 12px !important;
		background: transparent !important;
		color: #333 !important;
	}
		#menu_content_content_styleselect_menu td.mceMenuItemTitle span {
			font-size: 11px !important;
			font-weight: bold !important;
		}



/* END OF FILE */