/**
 * WebMan Visual Composer 4.3+ plugin admin styles
 *
 * Requires Visual Composer v4.3+
 *
 * @package     WebMan Amplifier
 * @subpackage  Shortcodes
 *
 * @since    1.0.9.5
 * @version  1.1
 */



#wpb_visual_composer .inside,
.vc_modal, .vc_panel {direction: ltr}



/**
 * Metabox inside wrapper
 */

	#wpb_visual_composer .inside {margin-top: 0}



/**
 * Default content (empty)
 */

	#vc_no-content-helper {display: none}



/**
 * Navigation bar (with element selection and templates button)
 */

	#wpb_visual_composer .vc_navbar {
		padding: 0;
		background: #21759b;
		border: 0 !important;
		-webkit-box-shadow: inset 0 0 30px rgba(0,0,0, .5);
		   -moz-box-shadow: inset 0 0 30px rgba(0,0,0, .5);
		        box-shadow: inset 0 0 30px rgba(0,0,0, .5);
	}

	/* Hide the VC logo */
		#wpb_visual_composer .vc_navbar-header {display: none}

	/* Buttons styles */
		#wpb_visual_composer .vc_navbar .vc_navbar-nav > li {border: 0}
		#wpb_visual_composer .vc_navbar .vc_icon-btn {
			background-position: 0 0;
			border: 0;
		}
			#wpb_visual_composer .vc_navbar .vc_icon-btn:hover {
				background-color: transparent;
				opacity: .75;
				-webkit-box-shadow: inset 0 0 30px rgba(0,0,0, .5);
				   -moz-box-shadow: inset 0 0 30px rgba(0,0,0, .5);
				        box-shadow: inset 0 0 30px rgba(0,0,0, .5);
			}
			#wpb_visual_composer .vc_navbar .vc_templates-button {background-position: 0 -55px}
			#wpb_visual_composer .vc_navbar .vc_post-settings {background-position: 0 -110px}



/**
 * VC content (displays elements)
 */

	#wpb_visual_composer #visual_composer_content {
		min-height: 40px;
		padding: 20px 20px 0;
	}



/**
 * Row and columns
 */

	/* Row styles */
		#wpb_visual_composer .vc_row {margin: 0}
			#wpb_visual_composer .wpb_vc_row {margin-top: 20px}
			#wpb_visual_composer .wpb_vc_row:first-child {margin-top: 0}

	/* Row controls */
		#wpb_visual_composer #visual_composer_content .controls_row {
			display: none;
			position: relative;
			height: 32px;
			padding: 0;
			margin-top: -34px;
			background: #fff;
			border: 1px solid #d6d6d6;
			-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0, .2);
			   -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0, .2);
			        box-shadow: 0 2px 10px 0 rgba(0,0,0, .2);
			z-index: 99;
		}
			#wpb_visual_composer #visual_composer_content .wpb_vc_row:hover > .controls_row {display: block}
			#wpb_visual_composer #visual_composer_content .wpb_vc_row_inner .controls_row {
				display: block;
				margin: 0;
				opacity: .5;
			}
				#wpb_visual_composer #visual_composer_content .wpb_vc_row_inner:hover .controls_row {opacity: 1}
		#wpb_visual_composer .controls_row a {
			border: 1px solid #ddd;
			border-radius: 0;
		}
			#wpb_visual_composer .controls_row .column_move {
				position: absolute;
				width: 100%;
				height: 32px;
				left: 0;
				top: 0;
				padding: 0;
				margin: 0;
				line-height: 30px;
				background-color: transparent;
				border: 0;
				z-index: 0;
			}
				#wpb_visual_composer .controls_row .column_move:hover {
					background-color: #fcfcfc;
					-webkit-box-shadow: 0 1px 15px 0 rgba(0,0,0, .2);
					   -moz-box-shadow: 0 1px 15px 0 rgba(0,0,0, .2);
					        box-shadow: 0 1px 15px 0 rgba(0,0,0, .2);
				}
				#wpb_visual_composer .controls_row .column_move .vc_icon {vertical-align: middle}
			#wpb_visual_composer .controls_row > span {
				position: absolute;
				z-index: 1;
			}

		/* Row layouts selector button */
			#wpb_visual_composer .controls_row .vc_row_layouts {
				width: 34px;
				height: 22px;
				left: 10px;
				top: 4px;
				padding: 0;
				background: #f5f5f5;
			}
				#wpb_visual_composer .controls_row .vc_row_layouts .custom_columns {
					padding: 5px 0;
					margin-top: 5px;
					border: 0;
				}
				#wpb_visual_composer .controls_row .vc_row_layouts:hover {
					width: auto;
					height: auto;
					padding: 5px;
					background: #fff;
					-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0, .2);
					   -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0, .2);
					        box-shadow: 0 2px 10px 0 rgba(0,0,0, .2);
				}

			#wpb_visual_composer .controls_row .column_add {display: none}

		/* Edit / Clone / Delete buttons */
			#wpb_visual_composer .controls_row .vc_row_edit_clone_delete {
				right: 10px;
				top: 4px;
			}
				#wpb_visual_composer .controls_row .vc_row_edit_clone_delete a {margin-left: 3px}
				#wpb_visual_composer .controls_row .column_delete:hover {background-color: #f99}

	/* Column */
		#wpb_visual_composer .wpb_row_container > .wpb_vc_column,
		#wpb_visual_composer .wpb_row_container > .wpb_vc_column_inner {
			padding: 0;
			background: #f8f8f8;
			border: 1px solid #e1e1e1;
			-webkit-box-shadow: 0 3px 10px rgba(0,0,0, .15);
			        box-shadow: 0 3px 10px rgba(0,0,0, .15);
		}
		#wpb_visual_composer .wpb_row_container > .wpb_vc_column + .wpb_vc_column,
		#wpb_visual_composer .wpb_row_container > .wpb_vc_column_inner + .wpb_vc_column_inner {margin-left: 2%}
		#wpb_visual_composer .wpb_row_container > .wpb_vc_column > .wpb_element_wrapper,
		#wpb_visual_composer .wpb_row_container > .wpb_vc_column_inner > .wpb_element_wrapper {padding: 0}

		#wpb_visual_composer .vc_col-sm-1 {width: 6.5%}
		#wpb_visual_composer .vc_col-sm-2 {width: 15%}
		#wpb_visual_composer .vc_col-sm-3 {width: 23.5%}
		#wpb_visual_composer .vc_col-sm-4 {width: 32%}
		#wpb_visual_composer .vc_col-sm-5 {width: 40.5%}
		#wpb_visual_composer .vc_col-sm-6 {width: 49%}
		#wpb_visual_composer .vc_col-sm-7 {width: 57.5%}
		#wpb_visual_composer .vc_col-sm-8 {width: 66%}
		#wpb_visual_composer .vc_col-sm-9 {width: 74.5%}
		#wpb_visual_composer .vc_col-sm-10 {width: 83%}
		#wpb_visual_composer .vc_col-sm-11 {width: 91.5%}
		#wpb_visual_composer .vc_col-sm-12 {width: 100%}

		/* Column control buttons hiding */
			#wpb_visual_composer .wpb_vc_column .wpb_column_container {
				min-height: 40px !important;
				padding: 5px;
				-webkit-transition: all .25s ease-in-out;
				   -moz-transition: all .25s ease-in-out;
				    -ms-transition: all .25s ease-in-out;
				        transition: all .25s ease-in-out;
			}
			#wpb_visual_composer .wpb_vc_column .controls_column {
				position: relative;
				top: 0;
				bottom: 0;
				padding: 5px 5px 0;
				z-index: 0;
			}
				#wpb_visual_composer .wpb_vc_column .controls_column.bottom-controls {padding: 0 5px 5px}



/**
 * Elements
 */

	#wpb_visual_composer .vc_element-icon {display: none}

	#wpb_visual_composer .wpb_content_element {z-index: 1}
	#wpb_visual_composer .wpb_content_element > .wpb_element_wrapper {
		height: auto;
		min-height: 18px;
		padding: 10px 12px;
		background: #555;
		color: #fff;
		border-color: #3c3c3c;
		border-radius: 3px;
		cursor: move;
	}

	/* Elements control buttons */
		#wpb_visual_composer .vc_controls > .vc_controls-cc {
			left: auto;
			right: 5px;
			top: 6px;
			-webkit-transform: none;
			    -ms-transform: none;
			        transform: none;
		}

	/* Element title and parameters display */
		#wpb_visual_composer .wpb_content_element h4 {
			display: inline-block;
			margin: 0 10px 0 0 !important;
			text-transform: uppercase;
			font-size: .85em;
			color: #ddd;
		}
		#wpb_visual_composer .wpb_element_wrapper h4 + span,
		#wpb_visual_composer .wpb_element_wrapper h4 + img,
		#wpb_visual_composer .wpb_element_wrapper h4 + a {display: none !important}
		#wpb_visual_composer .wpb_content_element,
		#wpb_visual_composer .wpb_vc_row_inner {margin: 5px}
		#wpb_visual_composer .wpb_content_element + .wpb_content_element,
		#wpb_visual_composer .wpb_content_element + .wpb_vc_row_inner,
		#wpb_visual_composer .wpb_vc_row_inner + .wpb_vc_row_inner,
		#wpb_visual_composer .wpb_vc_row_inner + .wpb_content_element {margin-top: 10px}



/**
 * Settings modal styles
 */

	/* Define modal window animation */
		@-webkit-keyframes wm-modal-animation {
			0%   { -webkit-transform: scale( .75 ); opacity: 0; }
			100% { -webkit-transform: scale( 1 ); opacity: 1;  }
		}
		@keyframes wm-modal-animation {
			0%   { transform: scale( .75 ); opacity: 0; }
			100% { transform: scale( 1 ); opacity: 1;  }
		}

		.vc_modal.in .vc_modal-dialog,
		.vc_panel {
			-webkit-animation: wm-modal-animation .4s 1 cubic-bezier( .175, .885, .32, 1.25 );
			   -moz-animation: wm-modal-animation .4s 1 cubic-bezier( .175, .885, .32, 1.25 );
			        animation: wm-modal-animation .4s 1 cubic-bezier( .175, .885, .32, 1.25 );
		}

	.vc_modal.in .vc_modal-dialog,
	#vc_properties-panel,
	#vc_templates-editor,
	#vc_post-settings-panel {
		border-radius: 3px;
		-webkit-box-shadow: 0 0 100px rgba(0,0,0, .5);
		   -moz-box-shadow: 0 0 100px rgba(0,0,0, .5);
		        box-shadow: 0 0 100px rgba(0,0,0, .5);
	}
	#vc_properties-panel {width: 720px}

		.vc_modal.in .vc_modal-header,
		.vc_modal.in .vc_modal-footer,
		.vc_panel .vc_panel-heading,
		.vc_panel .vc_panel-footer {background: #efefef}
		.vc_modal.in .vc_modal-header,
		.vc_panel .vc_panel-heading {
			line-height: 26px;
			background: #efefef;
			border-bottom: 1px solid #ddd;
			border-radius: 3px 3px 0 0;
			-webkit-box-shadow: inset 0 -1px 0 #fff;
			   -moz-box-shadow: inset 0 -1px 0 #fff;
			        box-shadow: inset 0 -1px 0 #fff;
		}
			.vc_modal.in .vc_modal-header h3,
			.vc_panel .vc_panel-heading h3 {
				font-size: 18px;
				font-weight: 300;
				text-transform: uppercase;
				color: #999;
			}
			.vc_modal.in .vc_modal-header .vc_close,
			.vc_panel .vc_panel-heading .vc_close {
				padding: 1px 2px 1px 3px;
				margin: 3px 0 0;
				background: #f99;
				border-radius: 50%;
			}

		.vc_modal.in .vc_modal-body,
		.vc_panel .vc_panel-body {
			position: relative;
			min-height: 80px;
			padding: 10px 0;
			margin-top: 0 !important;
		}
		.vc_modal.in .vc_modal-body.vc_with-tabs,
		.vc_panel .vc_panel-body.vc_with-tabs { padding-top: 60px; }

			.vc_panel .vc_row {
				padding: 0;
				margin: 0;
			}

	/* Element settings fields */
		.vc_panel .vc_panel-tabs,
		.vc_panel .vc_panel-tabs > ul {
			padding: 0;
			margin: 0;
		}
		.vc_panel .vc_panel-tabs {margin-top: -10px}
			.vc_panel .vc_panel-tabs > ul {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				padding: 0 9px;
				background: #1e8cbe;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
			}
				.vc_panel .vc_panel-tabs > ul a,
				.vc_panel .vc_panel-tabs > .vc_edit-form-tabs-menu .vc_edit-form-tab-control .vc_edit-form-link,
				.vc_panel .vc_panel-tabs > .vc_panel-tabs-menu .vc_panel-tabs-control .vc_panel-tabs-link { color: #fff; }
				.vc_panel .vc_panel-tabs > ul .ui-state-active a,
				.vc_panel .vc_panel-tabs > .vc_edit-form-tabs-menu .vc_edit-form-tab-control.vc_active a,
				.vc_panel .vc_panel-tabs > .vc_panel-tabs-menu .vc_panel-tabs-control.vc_active a { color: #444; }

			.vc_panel-tabs .vc_edit-form-tab {padding-top: 10px}

		.vc_panel .wpb_edit_form_elements .vc_row-fluid {
			padding: 15px;
			margin: 0;
			border: 0;
			border-top: 1px dashed #e1e1e1;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
		}
			.vc_panel .wpb_edit_form_elements .vc_row-fluid:first-child {border: 0}
			.vc_panel .wpb_edit_form_elements .vc_row-fluid:hover {background: #f9f9f9}
			.vc_panel .mceLayout {background: #fff}

	/* Templates modal */
		.vc_templates-body .ui-tabs-panel {padding: 15px 0}

	/* Elements list */
		.wpb-elements-list-modal.in .vc_modal-body {padding: 20px}

		.wpb-elements-list-modal.in .wpb-layout-element-button {
			text-transform: uppercase;
			background: #444;
			color: #fff;
			border-color: #333;
			border-radius: 3px;
			-webkit-box-shadow: inset 0 0 15px rgba(0,0,0, .8);
			   -moz-box-shadow: inset 0 0 15px rgba(0,0,0, .8);
			        box-shadow: inset 0 0 15px rgba(0,0,0, .8);
		}
			.wpb-elements-list-modal.in .wpb-layout-element-button:hover {background: #111}
			.wpb-elements-list-modal.in .wpb-layout-element-button a {
				padding: 10px;
				font-size: 10px;
				text-align: center;
				color: #ddd;
			}
				.wpb-elements-list-modal.in .wpb-layout-element-button a:hover {color: #fff}
			.wpb-elements-list-modal.in .wpb-layout-element-button a .vc_element-icon,
			.wpb-elements-list-modal.in .wpb-layout-element-button a .vc_element-description {display: none}



/**
 * Special shortcodes (elements) stylings
 */

	/* elements parameters */
		.wpb_content_element .wpb_vc_param_value {
			display: inline;
			margin-left: .5em;
			font-size: 11px;
			font-style: italic;
			color: #ccc;
		}
			.wpb_content_element .wpb_vc_param_value * {display: inline}
			.wpb_content_element .wpb_vc_param_value:after,
			.wpb_content_element .wpb_vc_param_value:before {content: '"'}

	/* jQuery UI Sortable placeholder */
		.wpb_element_wrapper .vc_container_for_children .group.ui-sortable-placeholder,
		.wm-shortcode-vc-price.ui-sortable-placeholder {
			visibility: visible !important;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALl5eX/GWF8EKezs5MRLADjgNiMyByQAAC2xw5pFYdCMwAAAABJRU5ErkJggg==);
			border: 0;
		}

	/* Price (Pricing Table item) element */
		#wpb_visual_composer .wpb_content_element.wm-shortcode-vc-price {margin: 0 0 10px}

	/* Accordion and tabs element */
		#wpb_visual_composer .wpb_content_element .wm-sections-mode-title {
			display: block;
			padding-bottom: 10px;
		}

		/* Accordion "add new section" button */
			.wm-sections-mode > .wpb_element_wrapper .tab_controls .add_tab,
			.wm-sections-mode > .wpb_element_wrapper .tab_controls .add_tab:focus,
			.wpb_vc_accordion > .wpb_element_wrapper .tab_controls .add_tab,
			.wpb_vc_accordion > .wpb_element_wrapper .tab_controls .add_tab:focus {
				width: 100%;
				height: 40px;
				padding: 0 !important;
				line-height: 40px;
				font-size: 11px;
				font-weight: bold;
				text-transform: uppercase;
				background: transparent;
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.35)), color-stop(100%,rgba(0,0,0,0)));
				background: -webkit-linear-gradient(top, rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 100%);
				background: -moz-linear-gradient(top, rgba(0,0,0,.35) 0%, rgba(0,0,0,0) 100%);
				background: -ms-linear-gradient(top, rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 100%);
				background: linear-gradient(to bottom, rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 100%);
				color: #ccc;
				border: 0;
				border-top: 1px solid #333;
				outline: 0;
				cursor: pointer;
			}
				.wm-sections-mode > .wpb_element_wrapper .tab_controls .add_tab:hover,
				.wpb_vc_accordion > .wpb_element_wrapper .tab_controls .add_tab:hover {
					background: #111;
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.3)), color-stop(100%,rgba(0,0,0,0)));
					background: -webkit-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(0,0,0,0) 100%);
					background: -moz-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 100%);
					background: -ms-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(0,0,0,0) 100%);
					background: linear-gradient(to bottom, rgba(0,0,0,.3) 0%,rgba(0,0,0,0) 100%);
					color: #fff;
					opacity: 1;
				}

		/* Accordion new section styling */
			.wpb_content_element .wpb_element_wrapper .wpb_accordion_holder .wm-sections-mode-section,
			.wpb_content_element .wpb_element_wrapper .wpb_accordion_holder .wpb_vc_accordion_tab {
				padding: 0;
				background: transparent;
				border: 0;
				overflow: hidden;
			}
			#poststuff .wpb_element_wrapper h3.ui-accordion-header,
			#wpb_visual_composer .wpb_content_element.wm-shortcode-vc-price > .wpb_element_wrapper {
				background: #777;
				border: 0 !important;
				border-radius: 3px;
			}
				#poststuff .wpb_element_wrapper h3.ui-accordion-header:before {
					content: '+';
					margin-right: 10px;
					font-size: 16px;
					font-weight: bold;
					text-shadow: none;
					color: #ccc;
				}
					#poststuff .wpb_element_wrapper h3.ui-accordion-header.ui-state-active:before {
						content: '−';
						color: inherit;
					}
				#poststuff .wpb_element_wrapper h3.ui-accordion-header span {
					text-shadow: none;
					color: #ccc;
				}
				#poststuff .wpb_element_wrapper h3.ui-accordion-header.ui-state-active {
					background: #e8e8e8;
					border-bottom: 1px solid #e3e3e3 !important;
					border-radius: 3px 3px 0 0;
				}
					#poststuff .wpb_element_wrapper h3.ui-accordion-header.ui-state-active span {
						font-weight: bold;
						color: #333;
					}
			.wpb_element_wrapper .vc_container_for_children .group {
				margin-bottom: 10px;
				background: #f8f8f8;
				border-radius: 3px;
			}
			.wm-sections-mode > .wpb_element_wrapper h3.ui-accordion-header span.ui-icon,
			.wpb_vc_accordion > .wpb_element_wrapper h3.ui-accordion-header span.ui-icon {display: none}

			/* Element in accordion section */
				#wpb_visual_composer .wm-sections-mode-section .wpb_content_element > .wpb_element_wrapper,
				#wpb_visual_composer .wpb_vc_accordion_tab .wpb_content_element > .wpb_element_wrapper {
					background: #888;
					border-color: #777;
				}
				#wpb_visual_composer .wm-sections-mode-section .wpb_content_element > .wpb_element_wrapper h4,
				#wpb_visual_composer .wpb_vc_accordion_tab .wpb_content_element > .wpb_element_wrapper h4 {color: #fff}



/**
 * Display Short Shortcode Generator only
 */

	.mce-container div[id^="wm_shortcodes_list_short_id"],
	.wpb-edit-form .mce-container div[id^="wm_shortcodes_list_id"] {display: none}
	.wpb-edit-form .mce-container div[id^="wm_shortcodes_list_short_id"] {display: block}



/* END OF FILE */