/** WebMan Amplifier admin addon styles @package  WebMan Amplifier @since    1.2.2 @version  1.3.10 */
.hide { display: none !important; }

.fixed .wm-image-container { display: inline-block; position: relative; width: 68px; padding: 2px; margin: -3px 0 0; line-height: 1.38; background: #fff; border: 1px solid #d3d3d3; border-radius: 3px; }

.fixed .wm-image-container.no-thumb { height: 40px; background: #f3f3f3; box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.1); }

.fixed .wm-image-container a { display: block; outline: 0; }

.fixed .wm-image-container img { width: 100%; height: auto; vertical-align: top; }

.fixed .wm-image-container i { font-size: 30px; vertical-align: middle; }

@media screen and (min-width: 782px) { .fixed [class*="column-wmamp-thumb"] { width: 100px; text-align: center; } }

.sticky-menu #adminmenuwrap { z-index: 999; }
