/**
 * WebMan Amplifier admin addon styles
 *
 * @package  WebMan Amplifier
 *
 * @since    1.0
 * @version  1.1
 */

.hide{display:none !important}.fixed [class*="column-wmamp-thumb"]{width:80px;text-align:center}.fixed .wm-image-container{display:block;position:relative;width:50px;height:50px;padding:2px;margin:-3px auto 0;line-height:48px;background:#fff;border:1px solid #d3d3d3;border-radius:3px}.fixed .wm-image-container.no-thumb{background:#f3f3f3;-webkit-box-shadow:inset 0 1px 5px 0 rgba(0,0,0,.1); box-shadow:inset 0 1px 5px 0 rgba(0,0,0,.1)}.fixed .wm-image-container a{display:block;outline:0}.fixed .wm-image-container img{height:auto;max-width:100%;max-height:100%;vertical-align:baseline}.fixed .wm-image-container i{font-size:30px;vertical-align:middle}.sticky-menu #adminmenuwrap{z-index:999}