// RTL

// Checkboxes and radios

.wm-meta-wrap {

	input[type="checkbox"],
	input[type="radio"] {
		left: auto;
		right: 240px;
	}

	input[type="radio"] {
		right: auto;
	}

	.checkbox-wrap,
	.radio-wrap {

		label {
			margin-left: 1em;
			margin-right: 0;
		}

	}

	.checkbox-wrap {

		label {
			float: right;
			padding-left: 70px;
			padding-right: 0;
			margin-left: 0;
		}

		input {

			+ label {

				&::before {
					left: auto;
					right: 220px;
					border: 1px solid;
					border-right-width: 16px;
					border-color: rgba(0, 0, 0, .1);
				}

			}

			&:checked + label {

				&::before {
					border-right-width: 1px;
					border-left-width: 16px;
				}

			}

		}

		.description {
			float: right;
		}

	}

	.radio-wrap {

		&.custom-label {

			.inline-radio {
				margin: 0 0 .5em .5em;
			}

		}

	}

}
