@font-face {
	font-family: 'fontello';
	src: url('fontello.eot?9450880');
	src: url('fontello.eot?9450880#iefix') format('embedded-opentype'),
	     url('fontello.woff?9450880') format('woff'),
	     url('fontello.ttf?9450880') format('truetype'),
	     url('fontello.svg?9450880#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('fontello.svg?9450880#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before,
 [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	/* margin-right: .2em; */
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	/* margin-left: .2em; */

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-glass:before { content: '\e800'; } /* 'î €' */
.icon-lemon:before { content: '\e970'; } /* 'îĄ°' */
.icon-search:before { content: '\e802'; } /* 'î ‚' */
.icon-mail:before { content: '\e803'; } /* 'î ' */
.icon-mail-alt:before { content: '\e804'; } /* 'î „' */
.icon-heart:before { content: '\e805'; } /* 'î …' */
.icon-heart-empty:before { content: '\e806'; } /* 'î †' */
.icon-star:before { content: '\e807'; } /* 'î ‡' */
.icon-star-empty:before { content: '\e808'; } /* 'î ' */
.icon-star-half:before { content: '\e809'; } /* 'î ‰' */
.icon-star-half-alt:before { content: '\e80a'; } /* 'î Š' */
.icon-user:before { content: '\e80b'; } /* 'î ‹' */
.icon-users:before { content: '\e80c'; } /* 'î Ś' */
.icon-male:before { content: '\e80d'; } /* 'î Ť' */
.icon-female:before { content: '\e80e'; } /* 'î Ž' */
.icon-video:before { content: '\e80f'; } /* 'î Ź' */
.icon-videocam:before { content: '\e810'; } /* 'î ' */
.icon-picture:before { content: '\e811'; } /* 'î ‘' */
.icon-camera:before { content: '\e812'; } /* 'î ’' */
.icon-camera-alt:before { content: '\e813'; } /* 'î “' */
.icon-th-large:before { content: '\e814'; } /* 'î ”' */
.icon-th:before { content: '\e815'; } /* 'î •' */
.icon-th-list:before { content: '\e816'; } /* 'î –' */
.icon-ok:before { content: '\e817'; } /* 'î —' */
.icon-ok-circled:before { content: '\e818'; } /* 'î ' */
.icon-ok-circled2:before { content: '\e819'; } /* 'î ™' */
.icon-ok-squared:before { content: '\e81a'; } /* 'î š' */
.icon-cancel:before { content: '\e81b'; } /* 'î ›' */
.icon-cancel-circled:before { content: '\e81c'; } /* 'î ś' */
.icon-cancel-circled2:before { content: '\e81d'; } /* 'î ť' */
.icon-plus:before { content: '\e81e'; } /* 'î ž' */
.icon-plus-circled:before { content: '\e81f'; } /* 'î ź' */
.icon-plus-squared:before { content: '\e820'; } /* 'î  ' */
.icon-plus-squared-small:before { content: '\e821'; } /* 'î ˇ' */
.icon-minus:before { content: '\e822'; } /* 'î ˘' */
.icon-minus-circled:before { content: '\e823'; } /* 'î Ł' */
.icon-minus-squared:before { content: '\e824'; } /* 'î ¤' */
.icon-minus-squared-alt:before { content: '\e825'; } /* 'î Ą' */
.icon-minus-squared-small:before { content: '\e826'; } /* 'î ¦' */
.icon-help:before { content: '\e827'; } /* 'î §' */
.icon-help-circled:before { content: '\e828'; } /* 'î ¨' */
.icon-info-circled:before { content: '\e829'; } /* 'î ©' */
.icon-info:before { content: '\e82a'; } /* 'î Ş' */
.icon-home:before { content: '\e82b'; } /* 'î «' */
.icon-link:before { content: '\e82c'; } /* 'î ¬' */
.icon-unlink:before { content: '\e82d'; } /* 'î ­' */
.icon-link-ext:before { content: '\e82e'; } /* 'î ®' */
.icon-link-ext-alt:before { content: '\e82f'; } /* 'î Ż' */
.icon-attach:before { content: '\e830'; } /* 'î °' */
.icon-lock:before { content: '\e831'; } /* 'î ±' */
.icon-lock-open:before { content: '\e832'; } /* 'î ˛' */
.icon-lock-open-alt:before { content: '\e833'; } /* 'î ł' */
.icon-pin:before { content: '\e834'; } /* 'î ´' */
.icon-eye:before { content: '\e835'; } /* 'î µ' */
.icon-eye-off:before { content: '\e836'; } /* 'î ¶' */
.icon-tag:before { content: '\e837'; } /* 'î ·' */
.icon-tags:before { content: '\e838'; } /* 'î ¸' */
.icon-bookmark:before { content: '\e839'; } /* 'î ą' */
.icon-bookmark-empty:before { content: '\e83a'; } /* 'î ş' */
.icon-flag:before { content: '\e83b'; } /* 'î »' */
.icon-flag-empty:before { content: '\e83c'; } /* 'î Ľ' */
.icon-flag-checkered:before { content: '\e83d'; } /* 'î ˝' */
.icon-thumbs-up:before { content: '\e83e'; } /* 'î ľ' */
.icon-thumbs-down:before { content: '\e83f'; } /* 'î ż' */
.icon-thumbs-up-alt:before { content: '\e840'; } /* 'îˇ€' */
.icon-thumbs-down-alt:before { content: '\e841'; } /* 'îˇ' */
.icon-download:before { content: '\e842'; } /* 'îˇ‚' */
.icon-upload:before { content: '\e843'; } /* 'îˇ' */
.icon-download-cloud:before { content: '\e844'; } /* 'îˇ„' */
.icon-upload-cloud:before { content: '\e845'; } /* 'îˇ…' */
.icon-reply:before { content: '\e846'; } /* 'îˇ†' */
.icon-reply-all:before { content: '\e847'; } /* 'îˇ‡' */
.icon-forward:before { content: '\e848'; } /* 'îˇ' */
.icon-quote-left:before { content: '\e849'; } /* 'îˇ‰' */
.icon-quote-right:before { content: '\e84a'; } /* 'îˇŠ' */
.icon-code:before { content: '\e84b'; } /* 'îˇ‹' */
.icon-export:before { content: '\e84c'; } /* 'îˇŚ' */
.icon-export-alt:before { content: '\e84d'; } /* 'îˇŤ' */
.icon-pencil:before { content: '\e84e'; } /* 'îˇŽ' */
.icon-pencil-squared:before { content: '\e84f'; } /* 'îˇŹ' */
.icon-edit:before { content: '\e850'; } /* 'îˇ' */
.icon-print:before { content: '\e851'; } /* 'îˇ‘' */
.icon-retweet:before { content: '\e852'; } /* 'îˇ’' */
.icon-keyboard:before { content: '\e853'; } /* 'îˇ“' */
.icon-gamepad:before { content: '\e854'; } /* 'îˇ”' */
.icon-comment:before { content: '\e855'; } /* 'îˇ•' */
.icon-chat:before { content: '\e856'; } /* 'îˇ–' */
.icon-comment-empty:before { content: '\e857'; } /* 'îˇ—' */
.icon-chat-empty:before { content: '\e858'; } /* 'îˇ' */
.icon-bell:before { content: '\e859'; } /* 'îˇ™' */
.icon-bell-alt:before { content: '\e85a'; } /* 'îˇš' */
.icon-attention-alt:before { content: '\e85b'; } /* 'îˇ›' */
.icon-attention:before { content: '\e85c'; } /* 'îˇś' */
.icon-attention-circled:before { content: '\e85d'; } /* 'îˇť' */
.icon-location:before { content: '\e85e'; } /* 'îˇž' */
.icon-direction:before { content: '\e85f'; } /* 'îˇź' */
.icon-compass:before { content: '\e860'; } /* 'îˇ ' */
.icon-trash:before { content: '\e861'; } /* 'îˇˇ' */
.icon-doc:before { content: '\e862'; } /* 'îˇ˘' */
.icon-docs:before { content: '\e863'; } /* 'îˇŁ' */
.icon-doc-text:before { content: '\e864'; } /* 'îˇ¤' */
.icon-doc-inv:before { content: '\e865'; } /* 'îˇĄ' */
.icon-doc-text-inv:before { content: '\e866'; } /* 'îˇ¦' */
.icon-folder:before { content: '\e867'; } /* 'îˇ§' */
.icon-folder-open:before { content: '\e868'; } /* 'îˇ¨' */
.icon-folder-empty:before { content: '\e869'; } /* 'îˇ©' */
.icon-folder-open-empty:before { content: '\e86a'; } /* 'îˇŞ' */
.icon-box:before { content: '\e86b'; } /* 'îˇ«' */
.icon-rss:before { content: '\e86c'; } /* 'îˇ¬' */
.icon-rss-squared:before { content: '\e86d'; } /* 'îˇ­' */
.icon-phone:before { content: '\e86e'; } /* 'îˇ®' */
.icon-phone-squared:before { content: '\e86f'; } /* 'îˇŻ' */
.icon-menu:before { content: '\e870'; } /* 'îˇ°' */
.icon-cog:before { content: '\e871'; } /* 'îˇ±' */
.icon-cog-alt:before { content: '\e872'; } /* 'îˇ˛' */
.icon-wrench:before { content: '\e873'; } /* 'îˇł' */
.icon-basket:before { content: '\e874'; } /* 'îˇ´' */
.icon-calendar:before { content: '\e875'; } /* 'îˇµ' */
.icon-calendar-empty:before { content: '\e876'; } /* 'îˇ¶' */
.icon-login:before { content: '\e877'; } /* 'îˇ·' */
.icon-logout:before { content: '\e878'; } /* 'îˇ¸' */
.icon-mic:before { content: '\e879'; } /* 'îˇą' */
.icon-mute:before { content: '\e87a'; } /* 'îˇş' */
.icon-volume-off:before { content: '\e87b'; } /* 'îˇ»' */
.icon-volume-down:before { content: '\e87c'; } /* 'îˇĽ' */
.icon-volume-up:before { content: '\e87d'; } /* 'îˇ˝' */
.icon-headphones:before { content: '\e87e'; } /* 'îˇľ' */
.icon-clock:before { content: '\e87f'; } /* 'îˇż' */
.icon-lightbulb:before { content: '\e880'; } /* 'î˘€' */
.icon-block:before { content: '\e881'; } /* 'î˘' */
.icon-resize-full:before { content: '\e882'; } /* 'î˘‚' */
.icon-resize-full-alt:before { content: '\e883'; } /* 'î˘' */
.icon-resize-small:before { content: '\e884'; } /* 'î˘„' */
.icon-resize-vertical:before { content: '\e885'; } /* 'î˘…' */
.icon-resize-horizontal:before { content: '\e886'; } /* 'î˘†' */
.icon-move:before { content: '\e887'; } /* 'î˘‡' */
.icon-zoom-in:before { content: '\e888'; } /* 'î˘' */
.icon-zoom-out:before { content: '\e889'; } /* 'î˘‰' */
.icon-down-circled2:before { content: '\e88a'; } /* 'î˘Š' */
.icon-up-circled2:before { content: '\e88b'; } /* 'î˘‹' */
.icon-left-circled2:before { content: '\e88c'; } /* 'î˘Ś' */
.icon-right-circled2:before { content: '\e88d'; } /* 'î˘Ť' */
.icon-down-dir:before { content: '\e88e'; } /* 'î˘Ž' */
.icon-up-dir:before { content: '\e88f'; } /* 'î˘Ź' */
.icon-left-dir:before { content: '\e890'; } /* 'î˘' */
.icon-right-dir:before { content: '\e891'; } /* 'î˘‘' */
.icon-down-open:before { content: '\e892'; } /* 'î˘’' */
.icon-left-open:before { content: '\e893'; } /* 'î˘“' */
.icon-right-open:before { content: '\e894'; } /* 'î˘”' */
.icon-up-open:before { content: '\e895'; } /* 'î˘•' */
.icon-angle-left:before { content: '\e896'; } /* 'î˘–' */
.icon-angle-right:before { content: '\e897'; } /* 'î˘—' */
.icon-angle-up:before { content: '\e898'; } /* 'î˘' */
.icon-angle-down:before { content: '\e899'; } /* 'î˘™' */
.icon-angle-circled-left:before { content: '\e89a'; } /* 'î˘š' */
.icon-angle-circled-right:before { content: '\e89b'; } /* 'î˘›' */
.icon-angle-circled-up:before { content: '\e89c'; } /* 'î˘ś' */
.icon-angle-circled-down:before { content: '\e89d'; } /* 'î˘ť' */
.icon-angle-double-left:before { content: '\e89e'; } /* 'î˘ž' */
.icon-angle-double-right:before { content: '\e89f'; } /* 'î˘ź' */
.icon-angle-double-up:before { content: '\e8a0'; } /* 'î˘ ' */
.icon-angle-double-down:before { content: '\e8a1'; } /* 'î˘ˇ' */
.icon-down:before { content: '\e8a2'; } /* 'î˘˘' */
.icon-left:before { content: '\e8a3'; } /* 'î˘Ł' */
.icon-right:before { content: '\e8a4'; } /* 'î˘¤' */
.icon-up:before { content: '\e8a5'; } /* 'î˘Ą' */
.icon-down-big:before { content: '\e8a6'; } /* 'î˘¦' */
.icon-left-big:before { content: '\e8a7'; } /* 'î˘§' */
.icon-right-big:before { content: '\e8a8'; } /* 'î˘¨' */
.icon-up-big:before { content: '\e8a9'; } /* 'î˘©' */
.icon-right-hand:before { content: '\e8aa'; } /* 'î˘Ş' */
.icon-left-hand:before { content: '\e8ab'; } /* 'î˘«' */
.icon-up-hand:before { content: '\e8ac'; } /* 'î˘¬' */
.icon-down-hand:before { content: '\e8ad'; } /* 'î˘­' */
.icon-left-circled:before { content: '\e8ae'; } /* 'î˘®' */
.icon-right-circled:before { content: '\e8af'; } /* 'î˘Ż' */
.icon-up-circled:before { content: '\e8b0'; } /* 'î˘°' */
.icon-down-circled:before { content: '\e8b1'; } /* 'î˘±' */
.icon-cw:before { content: '\e8b2'; } /* 'î˘˛' */
.icon-ccw:before { content: '\e8b3'; } /* 'î˘ł' */
.icon-arrows-cw:before { content: '\e8b4'; } /* 'î˘´' */
.icon-level-up:before { content: '\e8b5'; } /* 'î˘µ' */
.icon-level-down:before { content: '\e8b6'; } /* 'î˘¶' */
.icon-shuffle:before { content: '\e8b7'; } /* 'î˘·' */
.icon-music:before { content: '\e801'; } /* 'î ' */
.icon-expand:before { content: '\e8b9'; } /* 'î˘ą' */
.icon-collapse:before { content: '\e8ba'; } /* 'î˘ş' */
.icon-expand-right:before { content: '\e8bb'; } /* 'î˘»' */
.icon-collapse-left:before { content: '\e8bc'; } /* 'î˘Ľ' */
.icon-play:before { content: '\e8bd'; } /* 'î˘˝' */
.icon-play-circled:before { content: '\e8be'; } /* 'î˘ľ' */
.icon-play-circled2:before { content: '\e8bf'; } /* 'î˘ż' */
.icon-stop:before { content: '\e8c0'; } /* 'îŁ€' */
.icon-pause:before { content: '\e8c1'; } /* 'îŁ' */
.icon-to-end:before { content: '\e8c2'; } /* 'îŁ‚' */
.icon-to-end-alt:before { content: '\e8c3'; } /* 'îŁ' */
.icon-to-start:before { content: '\e8c4'; } /* 'îŁ„' */
.icon-to-start-alt:before { content: '\e8c5'; } /* 'îŁ…' */
.icon-fast-fw:before { content: '\e8c6'; } /* 'îŁ†' */
.icon-fast-bw:before { content: '\e8c7'; } /* 'îŁ‡' */
.icon-eject:before { content: '\e8c8'; } /* 'îŁ' */
.icon-target:before { content: '\e8c9'; } /* 'îŁ‰' */
.icon-signal:before { content: '\e8ca'; } /* 'îŁŠ' */
.icon-award:before { content: '\e8cb'; } /* 'îŁ‹' */
.icon-desktop:before { content: '\e8cc'; } /* 'îŁŚ' */
.icon-laptop:before { content: '\e8cd'; } /* 'îŁŤ' */
.icon-tablet:before { content: '\e8ce'; } /* 'îŁŽ' */
.icon-mobile:before { content: '\e8cf'; } /* 'îŁŹ' */
.icon-inbox:before { content: '\e8d0'; } /* 'îŁ' */
.icon-globe:before { content: '\e8d1'; } /* 'îŁ‘' */
.icon-sun:before { content: '\e8d2'; } /* 'îŁ’' */
.icon-cloud:before { content: '\e8d3'; } /* 'îŁ“' */
.icon-flash:before { content: '\e8d4'; } /* 'îŁ”' */
.icon-moon:before { content: '\e8d5'; } /* 'îŁ•' */
.icon-umbrella:before { content: '\e8d6'; } /* 'îŁ–' */
.icon-flight:before { content: '\e8d7'; } /* 'îŁ—' */
.icon-fighter-jet:before { content: '\e8d8'; } /* 'îŁ' */
.icon-leaf:before { content: '\e8d9'; } /* 'îŁ™' */
.icon-font:before { content: '\e8da'; } /* 'îŁš' */
.icon-bold:before { content: '\e8db'; } /* 'îŁ›' */
.icon-italic:before { content: '\e8dc'; } /* 'îŁś' */
.icon-text-height:before { content: '\e8dd'; } /* 'îŁť' */
.icon-text-width:before { content: '\e8de'; } /* 'îŁž' */
.icon-align-left:before { content: '\e8df'; } /* 'îŁź' */
.icon-align-center:before { content: '\e8e0'; } /* 'îŁ ' */
.icon-align-right:before { content: '\e8e1'; } /* 'îŁˇ' */
.icon-align-justify:before { content: '\e8e2'; } /* 'îŁ˘' */
.icon-list:before { content: '\e8e3'; } /* 'îŁŁ' */
.icon-indent-left:before { content: '\e8e4'; } /* 'îŁ¤' */
.icon-indent-right:before { content: '\e8e5'; } /* 'îŁĄ' */
.icon-list-bullet:before { content: '\e8e6'; } /* 'îŁ¦' */
.icon-list-numbered:before { content: '\e8e7'; } /* 'îŁ§' */
.icon-strike:before { content: '\e8e8'; } /* 'îŁ¨' */
.icon-underline:before { content: '\e8e9'; } /* 'îŁ©' */
.icon-superscript:before { content: '\e8ea'; } /* 'îŁŞ' */
.icon-subscript:before { content: '\e8eb'; } /* 'îŁ«' */
.icon-table:before { content: '\e8ec'; } /* 'îŁ¬' */
.icon-columns:before { content: '\e8ed'; } /* 'îŁ­' */
.icon-crop:before { content: '\e8ee'; } /* 'îŁ®' */
.icon-scissors:before { content: '\e8ef'; } /* 'îŁŻ' */
.icon-paste:before { content: '\e8f0'; } /* 'îŁ°' */
.icon-briefcase:before { content: '\e8f1'; } /* 'îŁ±' */
.icon-suitcase:before { content: '\e8f2'; } /* 'îŁ˛' */
.icon-ellipsis:before { content: '\e8f3'; } /* 'îŁł' */
.icon-ellipsis-vert:before { content: '\e8f4'; } /* 'îŁ´' */
.icon-off:before { content: '\e8f5'; } /* 'îŁµ' */
.icon-road:before { content: '\e8f6'; } /* 'îŁ¶' */
.icon-list-alt:before { content: '\e8f7'; } /* 'îŁ·' */
.icon-qrcode:before { content: '\e8f8'; } /* 'îŁ¸' */
.icon-barcode:before { content: '\e8f9'; } /* 'îŁą' */
.icon-book:before { content: '\e8fa'; } /* 'îŁş' */
.icon-ajust:before { content: '\e8fb'; } /* 'îŁ»' */
.icon-tint:before { content: '\e8fc'; } /* 'îŁĽ' */
.icon-check:before { content: '\e8fd'; } /* 'îŁ˝' */
.icon-check-empty:before { content: '\e8fe'; } /* 'îŁľ' */
.icon-circle:before { content: '\e8ff'; } /* 'îŁż' */
.icon-circle-empty:before { content: '\e900'; } /* 'î¤€' */
.icon-dot-circled:before { content: '\e901'; } /* 'î¤' */
.icon-asterisk:before { content: '\e902'; } /* 'î¤‚' */
.icon-gift:before { content: '\e903'; } /* 'î¤' */
.icon-fire:before { content: '\e904'; } /* 'î¤„' */
.icon-magnet:before { content: '\e905'; } /* 'î¤…' */
.icon-chart-bar:before { content: '\e906'; } /* 'î¤†' */
.icon-ticket:before { content: '\e907'; } /* 'î¤‡' */
.icon-credit-card:before { content: '\e908'; } /* 'î¤' */
.icon-floppy:before { content: '\e909'; } /* 'î¤‰' */
.icon-megaphone:before { content: '\e90a'; } /* 'î¤Š' */
.icon-hdd:before { content: '\e90b'; } /* 'î¤‹' */
.icon-key:before { content: '\e90c'; } /* 'î¤Ś' */
.icon-fork:before { content: '\e90d'; } /* 'î¤Ť' */
.icon-rocket:before { content: '\e90e'; } /* 'î¤Ž' */
.icon-bug:before { content: '\e90f'; } /* 'î¤Ź' */
.icon-certificate:before { content: '\e910'; } /* 'î¤' */
.icon-tasks:before { content: '\e911'; } /* 'î¤‘' */
.icon-filter:before { content: '\e912'; } /* 'î¤’' */
.icon-beaker:before { content: '\e913'; } /* 'î¤“' */
.icon-magic:before { content: '\e914'; } /* 'î¤”' */
.icon-truck:before { content: '\e915'; } /* 'î¤•' */
.icon-money:before { content: '\e916'; } /* 'î¤–' */
.icon-euro:before { content: '\e917'; } /* 'î¤—' */
.icon-pound:before { content: '\e918'; } /* 'î¤' */
.icon-dollar:before { content: '\e919'; } /* 'î¤™' */
.icon-rupee:before { content: '\e91a'; } /* 'î¤š' */
.icon-yen:before { content: '\e91b'; } /* 'î¤›' */
.icon-rouble:before { content: '\e91c'; } /* 'î¤ś' */
.icon-try:before { content: '\e91d'; } /* 'î¤ť' */
.icon-won:before { content: '\e91e'; } /* 'î¤ž' */
.icon-bitcoin:before { content: '\e91f'; } /* 'î¤ź' */
.icon-sort:before { content: '\e920'; } /* 'î¤ ' */
.icon-sort-down:before { content: '\e921'; } /* 'î¤ˇ' */
.icon-sort-up:before { content: '\e922'; } /* 'î¤˘' */
.icon-sort-alt-up:before { content: '\e923'; } /* 'î¤Ł' */
.icon-sort-alt-down:before { content: '\e924'; } /* 'î¤¤' */
.icon-sort-name-up:before { content: '\e925'; } /* 'î¤Ą' */
.icon-sort-name-down:before { content: '\e926'; } /* 'î¤¦' */
.icon-sort-number-up:before { content: '\e927'; } /* 'î¤§' */
.icon-sort-number-down:before { content: '\e928'; } /* 'î¤¨' */
.icon-hammer:before { content: '\e929'; } /* 'î¤©' */
.icon-gauge:before { content: '\e92a'; } /* 'î¤Ş' */
.icon-sitemap:before { content: '\e92b'; } /* 'î¤«' */
.icon-spinner:before { content: '\e92c'; } /* 'î¤¬' */
.icon-coffee:before { content: '\e92d'; } /* 'î¤­' */
.icon-food:before { content: '\e92e'; } /* 'î¤®' */
.icon-beer:before { content: '\e92f'; } /* 'î¤Ż' */
.icon-user-md:before { content: '\e930'; } /* 'î¤°' */
.icon-stethoscope:before { content: '\e931'; } /* 'î¤±' */
.icon-ambulance:before { content: '\e932'; } /* 'î¤˛' */
.icon-medkit:before { content: '\e933'; } /* 'î¤ł' */
.icon-h-sigh:before { content: '\e934'; } /* 'î¤´' */
.icon-hospital:before { content: '\e935'; } /* 'î¤µ' */
.icon-building:before { content: '\e936'; } /* 'î¤¶' */
.icon-smile:before { content: '\e937'; } /* 'î¤·' */
.icon-frown:before { content: '\e938'; } /* 'î¤¸' */
.icon-meh:before { content: '\e939'; } /* 'î¤ą' */
.icon-anchor:before { content: '\e93a'; } /* 'î¤ş' */
.icon-terminal:before { content: '\e93b'; } /* 'î¤»' */
.icon-eraser:before { content: '\e93c'; } /* 'î¤Ľ' */
.icon-puzzle:before { content: '\e93d'; } /* 'î¤˝' */
.icon-shield:before { content: '\e93e'; } /* 'î¤ľ' */
.icon-extinguisher:before { content: '\e93f'; } /* 'î¤ż' */
.icon-bullseye:before { content: '\e940'; } /* 'îĄ€' */
.icon-wheelchair:before { content: '\e941'; } /* 'îĄ' */
.icon-adn:before { content: '\e942'; } /* 'îĄ‚' */
.icon-android:before { content: '\e943'; } /* 'îĄ' */
.icon-apple:before { content: '\e944'; } /* 'îĄ„' */
.icon-bitbucket:before { content: '\e945'; } /* 'îĄ…' */
.icon-bitbucket-squared:before { content: '\e946'; } /* 'îĄ†' */
.icon-css3:before { content: '\e947'; } /* 'îĄ‡' */
.icon-dribbble:before { content: '\e948'; } /* 'îĄ' */
.icon-dropbox:before { content: '\e949'; } /* 'îĄ‰' */
.icon-facebook:before { content: '\e94a'; } /* 'îĄŠ' */
.icon-facebook-squared:before { content: '\e94b'; } /* 'îĄ‹' */
.icon-flickr:before { content: '\e94c'; } /* 'îĄŚ' */
.icon-foursquare:before { content: '\e94d'; } /* 'îĄŤ' */
.icon-github:before { content: '\e94e'; } /* 'îĄŽ' */
.icon-github-squared:before { content: '\e94f'; } /* 'îĄŹ' */
.icon-github-circled:before { content: '\e950'; } /* 'îĄ' */
.icon-gittip:before { content: '\e951'; } /* 'îĄ‘' */
.icon-gplus-squared:before { content: '\e952'; } /* 'îĄ’' */
.icon-gplus:before { content: '\e953'; } /* 'îĄ“' */
.icon-html5:before { content: '\e954'; } /* 'îĄ”' */
.icon-instagramm:before { content: '\e955'; } /* 'îĄ•' */
.icon-linkedin-squared:before { content: '\e956'; } /* 'îĄ–' */
.icon-linux:before { content: '\e957'; } /* 'îĄ—' */
.icon-linkedin:before { content: '\e958'; } /* 'îĄ' */
.icon-maxcdn:before { content: '\e959'; } /* 'îĄ™' */
.icon-pagelines:before { content: '\e95a'; } /* 'îĄš' */
.icon-pinterest-circled:before { content: '\e95b'; } /* 'îĄ›' */
.icon-pinterest-squared:before { content: '\e95c'; } /* 'îĄś' */
.icon-renren:before { content: '\e95d'; } /* 'îĄť' */
.icon-skype:before { content: '\e95e'; } /* 'îĄž' */
.icon-stackexchange:before { content: '\e95f'; } /* 'îĄź' */
.icon-stackoverflow:before { content: '\e960'; } /* 'îĄ ' */
.icon-trello:before { content: '\e961'; } /* 'îĄˇ' */
.icon-tumblr:before { content: '\e962'; } /* 'îĄ˘' */
.icon-tumblr-squared:before { content: '\e963'; } /* 'îĄŁ' */
.icon-twitter-squared:before { content: '\e964'; } /* 'îĄ¤' */
.icon-twitter:before { content: '\e965'; } /* 'îĄĄ' */
.icon-vimeo-squared:before { content: '\e966'; } /* 'îĄ¦' */
.icon-vkontakte:before { content: '\e967'; } /* 'îĄ§' */
.icon-weibo:before { content: '\e968'; } /* 'îĄ¨' */
.icon-windows:before { content: '\e969'; } /* 'îĄ©' */
.icon-xing:before { content: '\e96a'; } /* 'îĄŞ' */
.icon-xing-squared:before { content: '\e96b'; } /* 'îĄ«' */
.icon-youtube:before { content: '\e96c'; } /* 'îĄ¬' */
.icon-youtube-squared:before { content: '\e96d'; } /* 'îĄ­' */
.icon-youtube-play:before { content: '\e96e'; } /* 'îĄ®' */
.icon-blank:before { content: '\e96f'; } /* 'îĄŻ' */
.icon-exchange:before { content: '\e8b8'; } /* 'î˘¸' */