// Range field (numeric slider)

.wm-meta-wrap {

	.option.range-wrap {

		input {
			width: 60px;
			margin-right: 10px;
			text-align: center;
		}

	}

	.fieldtype-range {
		display: inline-block;
		position: relative;
		width: 196px;
		vertical-align: middle;
	}

	// jQuery UI Slider

		.range-wrap {

			.ui-slider {
				display: block;
				position: relative;
				float: left;
				width: 196px;
				height: 2px;
				margin: 10px 0;
				text-align: left;
				background: #eaecee;
				border: 1px solid #caccce;
				border-radius: 10px;

				.ui-slider-handle {
					position: absolute;
					z-index: 2;
					width: 18px;
					height: 10px;
					top: 0;
					margin: -5px 0 0 -10px;
					background: #fafcfe;
					background-image: linear-gradient( to bottom, #fafcfe, #f5f7f9 );
					border: 1px solid #babcbe;
					outline: 0;
					border-radius: 10px;
					box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
					cursor: e-resize;

					.ui-slider-handle:hover,
					.ui-slider-handle:active {
						background-color: #2a7c9e;
						background-image: linear-gradient( to bottom, #2a7c9e, #257799 );
						border-color: #2a7c9e;
						border-bottom-color: #1a6c8e;
						box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
					}

				}

				.ui-slider-range-min {
					left: 0;
				}

				.ui-slider-range-max {
					right: 0;
				}

			}

		}

}
