// Tabs

.wm-meta-wrap {

	ul.tabs {
		display: block;
		position: relative;
		padding: 10px 20px 0;
		margin: 0;
		height: 32px;
		background: #e9e9e9;
		background-image: linear-gradient( to top, #f5f5f5, #f9f9f9 );
		border-bottom: 1px solid #dfdfdf;
		box-shadow: inset 0 1px 0 #fff;

		li {
			float: left;
			margin: 0 6px 0 0;

			a {
				display: block;
				height: 32px;
				padding: 0 20px;
				line-height: 32px;
				text-decoration: none;
				background: #dfdfdf;
				color: #3e3e3e;
				border-top: 1px solid #dfdfdf;
				border-left: 1px solid #dfdfdf;
				border-right: 1px solid #dfdfdf;
				border-radius: 3px 3px 0 0;

				&:hover {
					background: #ddd;
				}

				img {
					margin: 0 .25em -.25em -5px;
					vertical-align: baseline;
				}

			}

			a:active,
			&.ui-state-active a {
				background: #fff;
				color: #000;
				outline: 0;
			}

		}

	}

	&.meta-special ul.tabs {

		li a:active,
		li.ui-state-active a {
			box-shadow: inset 0 1px 0 #fff;
		}

	}

	.tab-content {
		clear: both;
		position: relative;
		background: transparent;
		border: 0;

		&.no-table {
			padding: 0 20px 20px;
		}

		#wp-content-editor-tools {
			padding-top: 20px;
			background: #fff;
		}

	}

}

.no-js .tab-content {
	display: none;
}
