// RTL

// Column

$grid: 12; // number of grid elements (spans)
$gutter: 2; // in %

%column_rtl {
	float: right;
	margin-left: 0;
	margin-right: percentage( $gutter / 100 );

	&:first-child {
		margin-right: 0;
	}

}

.rtl {

	.vc_row-fluid {

		[class*="vc_span"] {
			@extend %column_rtl;
		}

	}

	#wpb_visual_composer {

		.wpb_row_container {

			> .wpb_vc_column,
			> .wpb_vc_column_inner {
				@extend %column_rtl;
			}

			> .wpb_vc_column + .wpb_vc_column,
			> .wpb_vc_column_inner + .wpb_vc_column_inner {
				margin-left: 0;
				margin-right: percentage( $gutter / 100 );
			}

		}

	}

}
