// RTL

// Modal settings windows

// Base

	%vc_modal_header {

		.vc_close {
			float: left;
			padding: 1px 3px 1px 2px;
		}

	}

	.rtl {

		.modal-header {

			.close {
				left: 10px;
				right: auto;
			}

		}

		.wpb_bootstrap_modals.in {

			#vc_elements_name_filter {
				left: 60px;
				right: auto;
			}

		}

		.wpb-content-layouts-container {

			.isotope-filter {

				li {
					margin-left: 0;
					margin-right: 10px;
				}

			}

		}

		.vc_elements-list-filter {
			right: auto;
			left: 44px;
		}

		.wpb_el_type_attach_images .gallery_widget_add_images,
		.wpb_el_type_attach_image .gallery_widget_add_images {
			float: right;
		}

		.gallery_widget_img_select,
		.gallery_widget_attached_images_list {

			li {
				float: right;
				margin: 0 0 5px 5px;
			}

		}

		.vc_modal.in {

			.vc_modal-header {
				@extend %vc_modal_header;
			}

		}

		.vc_panel {

			&-tabs {

				> ul {

					li {
						float: right;
						margin: 7px 0 0 2px;
					}

					> :first-child {
						margin-left: 2px;
						margin-right: 6px;
					}

				}

			}

			.vc_panel-heading {
				@extend %vc_modal_header;
			}

		}

	}
