// RTL

// Navigation bar (with element selection and templates button)

.rtl {

	.vc_navbar {

		.vc_nav {
			float: right;
			margin: 0 0 0 5px;

			&.pull-right {
				float: left;
				margin: 0 5px 0 0;
			}

		}

		#wpb_visual_composer & {

			.vc_dropdown {
				margin-left: 0;
				margin-right: 30px;
			}

		}

		&.subnav-fixed {

			.vc_navbar-inner {
				padding-left: 0;
				padding-right: 166px;
			}

		}

	}

	#wpb_visual_composer {

		.wpb_templates_ul {

			.wpb_template_li {

				.wpb_remove_template {
					left: 0;
					right: auto;
				}

			}

		}

	}

}
