// RTL

// Special shortcodes (elements) stylings

.rtl {

	// Elements parameters

		.wpb_content_element {

			.wpb_vc_param_value {
				margin-left: 0;
				margin-right: .5em;
			}

		}

	// Accordion and tabs element

		// Accordion new section styling

			#poststuff {

				.wpb_element_wrapper {

					h3.ui-accordion-header {

						&::before {
							margin-right: 0;
							margin-left: 10px;
						}

					}

				}

			}

}
